@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1547099535824'); /* IE9 */
  src: url('iconfont.eot?t=1547099535824#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALgAAsAAAAABnQAAAKTAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAqBAIEcATYCJAMICwYABCAFhG0HMBvCBcieGjsrUAtqwazha2zVYSwB4uH/9/u2z313TCTNmmQaDUuWxBKEotoIDc9USptPJHlkkf/AORcFNpFonm0iow7bI2nijyT5bUE/WIJ8/9e0TKoqQhV4DKooD/MPOMdGbG5vTk7aZdMm8sE19VdAjXlAc+qmqORIwIFNBxjZZJvQjDeMXeASNhOoNYgC7ux97jMVmdUrEDeuKkKmknPIMgtXC5U1E7N4rUJ1epJueBV+P/5aCIKkomBlHV56kjO3P2Z2VDEr33bWRzgJaHoFCswDZOJUbWBfXjA8rDZQMArYV3rwY1Yu+3qxV41gf52VWg/6IfeeeC7/VlMTyHHjBMDmqCeQeurrM3+lOD4+tu2+6w5Nafn0T13zhvytKA2nErtucN+vv3v/tBH7Clq8Pc4gm3L8DM0P/bCZQfKFYfz/z64pfhljg+Hc9RevwqSn71dgCDq9fBkkI329BDZYPyseFAoQwdLEGc+1L/9X12XwTf+/CtVZPxOg+gzG4E/xelZkXWDpUlZ5taZkYlTPhFq1KMOWVs+xyo7bioRqHTdnqjKQQqHaOCrj5qFCnUVnpWrnSqXWHA1Or9OmkBe5BrPWAEKzKySNvkKh2R2VcQ+o0OkFlZoDhlpnor9gncnwax9uohCgDEYKvuTYzDEEtSh9i0poCpQVhNQjkq+5gR9NiuEXtJHmGFJGyqwKGDjkWKCC7dA0HcjI0VEKRl4QuOfsmNW9aWQ6VqZmG0GCAJIBQwr4JA4b8+sHaqXPbyFFyCSglpwa6xEiPq15wGNwPVAvUrtXzr1cU4ooZioBBjiIwwJU0A6ZTA6Q1bfTIUlgxBvhc51j7VpOX+lofbn1ATmsAEuVwm5VqLx1USBJzWQAAA==') format('woff2'),
  url('iconfont.woff?t=1547099535824') format('woff'),
  url('iconfont.ttf?t=1547099535824') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1547099535824#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e680";
}

