#son{
	width: 100%;
	height:3500px;
	background: #F5F5F5;
	float: left;
}
#son .box{
	margin: 0 auto;
	width: 1226px;
	height: 57px;
	padding-top:30px;
	font-weight: 200;
	position: relative;
}
#son .box a{
	top: 30px;
	right: 0;
	position: absolute;
	float: right;
	font-size: 16px;
	color: black;
	padding-bottom: 20px;
}
#son .box a:hover{
      color:orange;
}
.son1-1{
width: 1240px;
margin: 0 auto;
}
.son1-1 .left{
width: 234px;
float: left;
}
.son1-1 .left img{
float: left;
width: 234px;
height: 614px;
transition: height 6s ease; 
}

.son1-1 .left img:hover{
transform:translateY(-1px);
box-shadow: 0 5px 5px #5555;
}

.son1-1 .right{
width: 992px;
height: 614px;
margin:  0 auto;
float: left;
}
.son1-1 .right .qianggou2{
     float: left;
     padding-left:14px;
     padding-bottom: 8px;
     display: inline;
     position: relative;
}

.son1-1 .right .qianggou2 img{
display: block;
width: 234px;
height: 300px;
transition: height 5s ease;

}
.son1-1 .right .qianggou2 img:hover{
 transform: translateY(-1px);
 box-shadow: 0px 5px 5px #5555;
}
.son1-1 .right .qianggou2 p{
   position: absolute;
   width: 64px;
   height: 20px;
   background: #83C44E;
   text-align: center;
   left: 42%;
   top: 0px;
}




.son-2-img{
display: block;
width: 1226px;
height: 120px;
padding-top: 15px;
margin:0 auto;
}
.son-2-1{
     width:1226px;
     height:58px;
     margin: 0 auto;
   
}
.son-2-1 h2{
     line-height: 58px;
     float: left;
      font-weight: 200;
      margin: 0 auto;
}
#son-2-1_son{
	 float: right;
}

#son .son-2-1 ul li{
font-size: 16px;
height: 58px;
line-height: 58px;
 float: left;
 padding-left: 38px;
 color:black;
}
#son .son-2-1 ul li a:hover{
color: #FF6700;
}
#son2-2{
width: 1240px;
height: 628px;
position: relative;
}
#son2-2:after{
	content: "";
	clear: both;
	display: block;
}

.son2-2-1{
	width: 234px;
	height: 614px;
	float: left;
}
.son2-2-2{
	width: 992px;
	height: 614px;
	position: absolute;
	right: 0;
}

.son2-2-1 .one img{
	width:234px;
	height: 300px;
	margin-bottom:4px;
	padding-left:0px;
}
.son2-2-1 .one img:hover{
	transform: translateY(-1px);
	box-shadow: 0 5px 5px #5555;
}
.son2-2-2{
	display: none;
}
.son2-2-2 li{
	width: 234px;
	height:300px;
	float: left;
	margin-bottom: 7px;
	margin-left: 14px;
	background: white;
}
.son2-2-2 li:hover{
	transform: translateY(-1px);
    box-shadow: 0 5px 5px #5555;
}
.son2-2-2 li img{
	width: 150px;
	height: 150px;
	display: block;
	margin: 25px auto;
	
}
.son2-2-2-1{
	text-align: center;
	line-height: 20px;
}
.son2-2-2-2{
	text-align: center;
}
.son2-2-2-2 span{
	color: orange;
}
.son2-2-2-2 del{
	text-decoration: line-through;
}


.son2-3{
	width: 1240px;
	margin: 0 auto;
}
.son2-3 .son2-3-img{
	display: block;
	width: 1226px;
	height: 120px;
	padding-top: 15px;
	margin:0 auto;
	float: left;
}
.son2-3-1{
	line-height: 58px;
     float: left;
      font-weight: 200;
}
.son2-3 ul{
	float: left;
}
.son2-3 li .one{
	width: 234px;
	height: 300px;
	background: white;
	float: left;

}
.son2-3 li{
	width: 234px;
	height: 300px;
	background: white;
	float: left;
	margin-right: 14px;
	position: relative;
}
.son2-3 li img{
	width: 150px;
	height: 150px;
	float: left;
	display: block;
	position: absolute;
	top:20%;
	left:20%;
}
.son2-3 li:hover{
	transform: translateY(-1px);
	box-shadow: 0px 5px 5px #5555;
}
.son2-3 li a{
	float: left;
	display: block;
	position: absolute;
	top:70%;
	left:32%;
}
.son2-3 .son-2-1 h2{
     line-height: 58px;
     float: left;
      font-weight: 200;
}
.son2-3 li span{
	float: left;
	display: block;
	position: absolute;
	top:85%;
	left:38%;
}


.son-3{
	width: 1240px;
	margin: 0 auto;
}
.son-3 .son-3-img{
	display: block;
width: 1226px;
height: 120px;
padding-top: 15px;
margin:0 auto;
 float: left;
}
.son-3-1{
	width: inherit;
	line-height: 58px;
    float: left;
    font-weight:200;
}
.son-3 ul{
	float: left;
}
.son-3 ul .one{
	width: 296px;
	height: 415px;
	float: left;
	margin-left: 0;
}
.son-3  li{
	width: 296px;
	height: 415px;
	float: left;
	margin-left: 14px;
}
.son-3 li img{
	width: 296px;
	height: 220px;
}
.son-3 li p{
	height: 76px;
	margin: 3px 28px 22px;
}
.son-3 li a{
	color: black;
	font-weight: 200;
	font-size: 14px;
}
.son-3 li .p1{
	height: 15px;
	font-size: 12px;
	color: gainsboro;
	float: left;
}
.son-3 li .a1{
	display: block;
	font-size: 13px;
	height: 15px;
	line-height: 15px;
	width: 100px;
	text-align:center;
	border-right: solid 1px;
	float: left;
	margin: 0 auto;
}
.son-3 li .span2{
	display: block;
	font-size: 13px;
	line-height: 15px;
	height: 15px;
	width: 40px;
	text-align:center;
	border-left: 0;
	float: left;
	color: orange;
}


.son-4{
	width: 1240px;
	height: auto;
	margin: 0 auto;
}
.son-4-1{
	width: inherit;
	line-height: 58px;
    float: left;
    font-weight:200;
}
.son-4 ul{
	width: inherit;
	height: 420px;
	float: left;
}
.son-4 ul .one{
	width: 296px;
	height: 420px;
	float: left;
	margin-left: 0;
	background: white;
}
.son-4 ul li{
	width: 296px;
	height: 420px;
	margin-right: 14px;
	background: white;
	float: left;
}
.son-4 ul li h2{
	height: 20px;
	padding-top: 15px;
	text-align: center;
	margin:35px auto;
	color: orange;
	font-weight: 100;
}
.son-4 ul li .a1{
	white-space: nowrap;
	display: block;
	text-align: center;
	font-size: 20px;
	font-weight: 400;
	line-height: 1.25;
	color: black;
	margin:20px auto;
}
.son-4 ul li .a2{
	display: block;
	margin: 0 48px 10px;
	font-size: 12px;
	height: 40px ;
	line-height: 20px;
	text-align: center;
	overflow: hidden;
	color: gainsboro;
}
.son-4 ul li .a3{
	 display: block;
	 width: 70px;
	 height:30px;
	 margin: 0 auto;
	 text-align: center;
}
.son-4 ul li img{
	width: 216px;
	height: 154px;
	display: block;
	margin: 0 auto;
}
.son-4 .o1{
	width: inherit;
	list-style:circle;
	padding-top: 10px;
	padding-left: 40%;
}

.son-4 .o1 li{
	display: inline;
	margin-right: 15px;
	width: 8px;
	height: 8px;
	z-index: 1000;
	border-radius: 50%;
	border: solid 1px;
}



.son-5{
	width: 1240px;
	height: auto;
	margin: 0 auto;
}
.son-5-1{
	width: inherit;
	line-height: 58px;
    float: left;
    font-weight:200;
}
.son-5 ul{
	width: inherit;
	height: 285px;
	float: left;
}
.son-5 .one{
	width: 296px;
	height: 285px;
	background: white;
	margin-left:0
}
.son-5 li{
	width: 296px;
	height: 285px;
	background: white;
	float: left;
	margin-left: 14px;
	transition: all 1s;
}
.son-5 li img{
	width: 296px;
	height: 180px;
}
.son-5 li:hover{
transform: translateY(-5px);
	box-shadow: 0px 5px 5px #5555;
}
.son-5 li h3{
	font-weight: 200;
  text-align: center;
}
.son-5 li p{
	font-size: 12px;
	color: gainsboro;
  text-align: center;
}



.last{
	display: block;
	width: 1226px;
	margin: 0 auto;
}
.last .last-1{
	width: inherit;
	height: 80px;
	border-bottom:solid 1px;
	float: left;
	margin-bottom: 40px;
}
.last .last-1 a{
	display: block;
	width: 190px;
	float: left;
	border-right: solid 1px;
	margin-top: 30px;
	margin-left: 50px;
	text-align: center;
}
.last .last-1 .a1{
	border-right: 0;
	float: left;
}

.last  ul{
	float: left;
	width: 160px;
	height: 112px;
}
.last  ul .l1{
    font-size: 14px;
    padding-bottom: 20px;
}
.last  ul li{
	font-size: 12px;
	padding-bottom: 8px;
}
.last  .u5{
	border-right: solid 1px;
}
.last .p1{
	text-align: center;
	font-size: 22px;
	line-height: 1;
	margin: 0 0 10px;
	color: red;
}
.last .p2{
	font-size: 12px;
	color: black;
	text-align: center;
	margin:0 0 5px;
} 
.last a{
	display: block;
	color: black;
}
.last .a4{
	float: left;
	display: block;
	width: 118px;
	height: 28px;
	line-height: 28px;
	font-size: 12px;
	border: solid 1px;
	color: orange;
	text-align: center;
	margin-left: 70px;
	
}
.last .a4:hover{
	background: orange;
	color: white;
	transform: translateY(-1px);
}
.last-2{
	width: 1226px;
	height: 150px;
	float: left;
	margin-top: 25px;
	margin-bottom: 25px;
}
.last-2 img {
	display: block;
	width: 57px;
	height: 57px;
	float: left;
	margin-top: 10px;
}
.last-2 .last-2-1 .p1{
	line-height: 18px;
	
}
.last-2 .last-2-1 a{
	font-size: 12px;
	float: left;
}
.last-2 .last-2-1 span{
	font-size: 12px;
	margin:0 3px 0 3px;
	/*margin-bottom: 2px;*/
	color: gainsboro;
	float: left;
}
.last-2 .last-2-1 .p2{
	 float: left;
	 color: gainsboro;
	 
}
.last-2 .last-2-1 .p2 a{
		 color: gainsboro;
		 font-size: 12px;
}
.last-img{
	float: right;
	width: 280px;
	height: 28px;
	margin-top: -20px;
	text-align: right;
}
.last-img img{
	width: 85px;
	height: 28px;
	padding-right: 5px;
}

